body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}


h3 {
  font-size: 1.875rem;
  font-family: 'Montserrat', sans-serif;
  color: #216353;
}

a {
  color: #216353;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 1rem;
  color: white;
}
.footer-link {
  color: black;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 200px;
}

.bottom-cloud {
  position: absolute;
}
.IMG_0181 {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.Wings {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {
  border-top: 7px dotted #EAF6F6;
  width: 5%;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
